{% load static %}

<nav class="main-header navbar navbar-expand-md bg-navy navbar-dark ">
  <div class="container">
    <a href="index" class="navbar-brand">
      <img src="{% static 'images/logo.png' %}" alt="PFNA Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">PFNA</span>
    </a>
    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a href="index" class="nav-link {% if active_page == index %} 'active' {% endif %} ">Home</a>
        </li>
        <li class="nav-item">
            <a href="dashboard" class="nav-link {% if active_page == 'dashboard' %} active {% endif %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'inventory:inventory' %}" class="nav-link {% if active_page == 'inventory' %} active {% endif %}">Inventory</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active_page == 'config-management' %} active {% endif %}" 
            href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            Config Management
          </a>
          <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'config_management:config-get' %}">GET</a>
            <a class="dropdown-item" href="{% url 'config_management:config-send' %}">SEND</a>
            <a class="dropdown-item" href="{% url 'config_management:config-templates' %}">TEMPLATES</a>
          </div>
        </li>
      </ul>
    </div>
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
    </ul>
    </div>
</nav>

